body { 
  background: url('../img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Navbar */
.navbar-brand {
  text-align: center;
  font-family: 'Baloo Thambi', cursive;
  font-size: 48px;
}

.navbar-default {
  padding: 15px;
  background-color: pink;
}


.navbar-header {
    text-align: center;
    width: 100%;
}

/* Form */
#createButton {
  margin-top: 20px;
}

label {
  font-size: 24px;
}

/* In App Text*/
p {
  font-size: 16px;
}

h3 {
  text-align: center;
}

h4 {
  font-family: 'Baloo Thambi', cursive;
  font-size: 24px;
}

.copyright {
  text-align: center;
  padding: 10px;
}