body {
  background-image: url('../img/background.jpg');
  padding-bottom: 80px;
}

/* Navbar */
.navbar-brand {
  text-align: center;
  font-family: 'Baloo Thambi', cursive;
  font-size: 48px;
}

p {
  font-size: 24px;
}

h3 {
  text-align: center;
}

h4{
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}

.copyright {
  text-align: center;
}